var settings = {
  server: 'irc.network.org',
  nick: 'myBot',
  options: {
    retryDelay: 30000,
    channels: ['#myChannel']
  },
  handlers: {
    '!activeServers': require('./lib/activeServers'),
    '!emptyservers': require('./lib/emptyServers'),
    '!findplayer': require('./lib/findPlayer'),
    '!query': require('./lib/query')
  },
  reflexVersion: '42'
};

Object.keys(settings).forEach(function(key) {
  module.exports[key] = settings[key];
});